@use "main";
@use "mobile";

#contact {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.411);
}
#footer-content {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;

  .vertical-line {
    width: 0.08rem;
    height: 5rem;
    background-color: rgba(255, 255, 255, 0.432);
  }
  ul:last-of-type div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0rem 0.2rem;
  }
  ul {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;

    li {
      display: flex !important;
      flex-direction: row;
      align-items: baseline;
      margin-top: 0.5rem;
      color: rgb(138, 138, 138);
      h2 {
        color: white;
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      p {
        font-size: 1rem;
        padding-left: 0.3rem;
      }
    }
  }
}
