$bold-font: Poppins, sans serif;
@use 'typed';

a {
  color: white;
  text-decoration: none;
  font-family: $bold-font;
}

html {
  scroll-behavior: smooth;
}

#arrow-up {
  position: fixed;
  left: 95%;
  bottom: 3%;
  background: url("../media/arrow-up.png");
  background-size: contain;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
}

body {
  font-family: $bold-font;
  color: white;
  background: #212428;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;

  p {
    line-height: 1.2rem;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

main {
  #home {
    width: 40rem;
    margin: 15rem auto 0 auto;

    h1 {
      margin-bottom: 0.5rem;
      font-size: 5rem;
    }

    h2 {
      @include typed.typed("Student applied computer science", "Video editor & Logo designer", "Musician", [.05, null, .02, null], (iterations: 1, end-on: "Student applied computer sience"));
    }

    button {
      background: transparent;
      color: white;
      padding: 0.5rem 1rem 0.5rem 1rem;
      font-family: $bold-font;
      margin-top: 2rem;
      border: white solid 0.1rem;
      box-shadow: inset 0 0 0 0 white;
      transition: ease-in 0.4s;
    }

    button:hover {
      box-shadow: inset 400px 0 0 0 white;
      cursor: pointer;
      color: black;
    }


  }

  #projects {
    width: 50%;
    margin: 0 auto 0 auto;
    margin-top: 30rem;

    h2 {
      margin-bottom: 3rem;
      text-align: center;
      font-size: 3rem;
    }

    h2::before {
      content: ("");
      padding: 0.5rem;
      background: #4dc0ce;
      height: 50%;
      display: inline-block;
      margin-right: 0.5rem;
      vertical-align: middle;
      transform: translateX(-1rem);
    }

    article {
      margin-bottom: 5rem;
      background: #323232;
      max-height: 25rem;
      display: flex;
      flex-direction: row;

      &::before {
        content: ("");
        background: gray;
        padding: 2rem 0.2rem;
        position: absolute;
        display: inline-block;
        transform: translateY(2rem);
      }

      section {
        flex-direction: column;
        display: flex;
        width: 60%;
        margin: 2rem;

        h1 {
          margin-bottom: 0.5rem;
          font-size: 2.5rem;
        }

        h3 {
          font-size: 1.1rem;
          margin-bottom: 1rem;
        }

        p {
          font-size: 0.8rem;
          font-weight: 200;
          line-height: 1.2rem;
          margin-bottom: 0.5rem;
        }
      }

      .project-image {
        width: 40%;
        background: url("../../images/monopoly.jpg");
      }

      aside {
        font-size: 0.8rem;

        .front-end::before {
          content: ("🖥️");
        }

        .back-end::before {
          content: ("⚙️");
        }

        a {
          display: inline-block;
          margin-bottom: 0.5rem;
          text-decoration: underline;
        }

        h3 {
          font-size: 0.9rem;
          margin-top: 1rem;
          font-weight: bold;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}