$bold-font: Poppins, sans serif;

a {
  color: white;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: $bold-font;
}

* {
  font-family: $bold-font;
}

p {
  font-size: 0.9rem;
  font-weight: 200;
  line-height: 1.2rem;
  margin-bottom: 0.5rem;
}

em {
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
  /* Hide the scrollbar on WebKit-based browsers */
  ::-webkit-scrollbar {
    width: 0.5em; /* Adjust the width as needed */
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; /* Set the track background color */
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent; /* Set the scrollbar handle color */
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: transparent; /* Set the scrollbar handle color on hover */
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: $bold-font;
  color: white;
  background: #09192f;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.hidden.animate-left {
  opacity: 0 !important;
  transition: all 1s !important;
  filter: blur(5px) !important;
  transform: translateX(-100%) !important;
}

.show.animate-left {
  opacity: 1 !important;
  filter: blur(0px) !important;
  transform: translateX(0%) !important;
}

.hidden.animate-right {
  opacity: 0 !important;
  transition: all 1s !important;
  filter: blur(5px) !important;
  transform: translateX(100%) !important;
}
.show.animate-right {
  opacity: 1 !important;
  filter: blur(0px) !important;
  transform: translateX(0%) !important;
}

.hidden.animate-up {
  opacity: 0 !important;
  transition: all 1s !important;
  filter: blur(5px) !important;
  transform: translateY(-100%) !important;
}

.show.animate-up,
.show.animate-down {
  opacity: 1 !important;
  filter: blur(0px) !important;
  transform: translateY(0%) !important;
}

.hidden.animate-down {
  opacity: 0 !important;
  transition: all 1s !important;
  filter: blur(5px) !important;
  transform: translateY(100%) !important;
}
