html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

$bold-font:
  Poppins,
  sans serif;

a {
  color: white;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: $bold-font;
}

* {
  font-family: $bold-font;
}

p {
  font-size: 0.9rem;
  font-weight: 200;
  line-height: 1.2rem;
  margin-bottom: 0.5rem;
  font-family: 'Inter', sans-serif;
}

em {
  font-weight: bold;
}

body {
  font-family: $bold-font;
  color: white;
  background: linear-gradient(135deg, #001229, #001325);
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.hidden{
  display: none;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.list {
  // list with '-'
  list-style-type: disc;
  margin-left: 1rem;
  li {
    margin-bottom: 0.5rem;
  }
}

.arrow{
  transform: translateY(0) rotate(45deg);
  display: inline-block;
  position: absolute;
  bottom: 5rem;
  margin-left: 3rem;
  width: 1.5rem;
  height: 1.5rem;
  border-bottom: solid white;
  border-right: solid white;
  animation: quickBounce 1s infinite;
}

@keyframes quickBounce{
  0%{
    transform: translateY(0) rotate(45deg);
  }
  50%{
    transform: translateY(-0.5rem) rotate(45deg);
  }
  100%{
    transform: translateY(0) rotate(45deg);
  }
}