@media only screen and (max-width: 60rem) {
  #home {
    h1 {
      font-size: 3rem !important;
    }
    h2 {
      font-size: 0.8rem !important;
    }
  }
  header {
    justify-content: center !important;
  }
  #about-me {
    display: flex !important;
    flex-direction: column !important;

    img {
      display: none !important;
    }
    div {
      width: 100% !important;
    }
  }
  footer {
    margin-top: 10vh !important;

    img {
      display: none !important;
    }
    div {
      display: flex !important;
      flex-direction: column !important;
    }
  }
  .shape {
    display: none !important;
  }
  .project-container {
    display: flex !important;
    flex-direction: column !important;
    height: 150vh !important;
    .project-item {
      min-height: 20vh;
    }
  }
}
