@media only screen and (max-width: 60rem) {
  .container{
    transform: translateX(0);
  }
  .timeline-body{
    width: 15rem;
  }
  #project-container {
    width: 80% !important;
  }
  section {
    margin-bottom: 10rem;
  }
  #home {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 0.8rem;
    }
    min-height: 50vh;
  }
  header {
    justify-content: center;
  }

  #skills {
    i {
      font-size: 0.5rem;
    }
  }

  #about-me {
    display: flex;
    flex-direction: column;
    width: 80% !important;

    #person-idea {
      display: none;
    }
    div {
      width: 100%;
    }
  }
  .vertical-line {
    display: none;
  }
  #footer-content {
    flex-direction: column;
    ul {
      padding: 1rem 0rem;
      li {
        display: flex !important;
        flex-direction: row;
        align-items: baseline;
        margin-top: 0.5rem;
        color: rgb(138, 138, 138);
        h2 {
          color: white;
          font-size: 2rem;
          margin-bottom: 1rem;
        }
        p {
          font-size: 1rem;
          padding-left: 0.3rem;
        }
      }
    }
  }
  .shape {
    display: none;
  }
  .project-container {
    display: flex;
    flex-direction: column;
    .project-item {
      min-height: 20vh;
    }
  }
}
