@use "main";
@use "mobile";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Staatliches&display=swap");
main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  section {
    min-height: 80vh;
  }
  #project-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  #projects {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    justify-content: center;
    margin-bottom: 30vh;

    h1 {
      font-size: 4rem;
      margin-bottom: 0.5rem;
      font-family: "Roboto", sans-serif;
    }

    .project-container {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 1.5rem;
      height: 60vh;

      h3 {
        color: white;
        font-family: "Staatliches", cursive;
        font-size: 1.5rem;
        text-align: center;
        margin: auto;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
      }
    }
  }

  #home {
    margin-top: 20vh;
    height: fit-content;
    #swiggle {
      position: absolute;
      max-width: 20vw;
      left: 0vw;
      opacity: 0.2;
    }
    #pattern {
      position: absolute;
      max-width: 30vw;
      right: -3vw;
      top: 20vh;
      scale: 0.7;
    }
    h1 {
      font-size: 5rem;
      margin-bottom: 0.5rem;
      font-family: "Roboto", sans-serif;
    }
    h2 {
      font-family: "Fira Code", monospace;
    }
    button {
      margin-top: 4rem;
      border: white 1px solid;
      color: white;
      padding: 0.5rem 2rem;
      border-radius: 0.2rem;
      background: linear-gradient(to right, white 50%, transparent 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all 0.2s ease-out;
      &:hover {
        background-position: left bottom;
        a {
          color: #09192f;
        }
        cursor: pointer;
      }
    }
  }

  #about-me {
    margin: auto;
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    div {
      h1 {
        font-size: 4rem;
        margin-bottom: 1rem;
      }
      p {
        font-size: 1rem;
        line-height: 1.5rem;
      }
      h3 {
        margin-top: 1rem;
        font-size: 0.8rem;
      }
      ul {
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        flex-wrap: wrap;
        width: auto;
        justify-content: flex-start;
        align-items: flex-start;
      }
      img {
        object-fit: contain;
      }
      #skills {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        flex-wrap: wrap;
        margin-top: 2rem;
        i{
          font-size: 2.5rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          &:hover {
            .icon-title {
              visibility: visible;
              opacity: 1;
            }
          }
        }
        .icon-title {
          visibility: hidden;
          color: #fff;
          text-align: center;
          font-size: 1rem;
          position: absolute;
          z-index: 1;
          opacity: 0;
          transition: opacity 0.3s;
          font-family: 'Poppins', sans-serif;
          margin-top: 4rem;
        }
      }

      
    }
    #person-idea {
      width: 30vw;
      max-width: 25rem;
    }
  }
}


