a {
  color: white;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: Poppins, sans serif;
}

* {
  font-family: Poppins, sans serif;
}

p {
  font-size: 0.9rem;
  font-weight: 200;
  line-height: 1.2rem;
  margin-bottom: 0.5rem;
}

em {
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
  /* Hide the scrollbar on WebKit-based browsers */
  /* Track */
  /* Handle */
  /* Handle on hover */
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html ::-webkit-scrollbar {
  width: 0.5em; /* Adjust the width as needed */
}
html ::-webkit-scrollbar-track {
  background: transparent; /* Set the track background color */
}
html ::-webkit-scrollbar-thumb {
  background: transparent; /* Set the scrollbar handle color */
}
html ::-webkit-scrollbar-thumb:hover {
  background: transparent; /* Set the scrollbar handle color on hover */
}

body {
  width: 100vw;
  height: 100vh;
  font-family: Poppins, sans serif;
  color: white;
  background: #09192f;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.hidden.animate-left {
  opacity: 0 !important;
  transition: all 1s !important;
  filter: blur(5px) !important;
  transform: translateX(-100%) !important;
}

.show.animate-left {
  opacity: 1 !important;
  filter: blur(0px) !important;
  transform: translateX(0%) !important;
}

.hidden.animate-right {
  opacity: 0 !important;
  transition: all 1s !important;
  filter: blur(5px) !important;
  transform: translateX(100%) !important;
}

.show.animate-right {
  opacity: 1 !important;
  filter: blur(0px) !important;
  transform: translateX(0%) !important;
}

.hidden.animate-up {
  opacity: 0 !important;
  transition: all 1s !important;
  filter: blur(5px) !important;
  transform: translateY(-100%) !important;
}

.show.animate-up,
.show.animate-down {
  opacity: 1 !important;
  filter: blur(0px) !important;
  transform: translateY(0%) !important;
}

.hidden.animate-down {
  opacity: 0 !important;
  transition: all 1s !important;
  filter: blur(5px) !important;
  transform: translateY(100%) !important;
}

@media only screen and (max-width: 60rem) {
  #home h1 {
    font-size: 3rem !important;
  }
  #home h2 {
    font-size: 0.8rem !important;
  }
  header {
    justify-content: center !important;
  }
  #about-me {
    display: flex !important;
    flex-direction: column !important;
  }
  #about-me img {
    display: none !important;
  }
  #about-me div {
    width: 100% !important;
  }
  footer {
    margin-top: 10vh !important;
  }
  footer img {
    display: none !important;
  }
  footer div {
    display: flex !important;
    flex-direction: column !important;
  }
  .shape {
    display: none !important;
  }
  .project-container {
    display: flex !important;
    flex-direction: column !important;
    height: 150vh !important;
  }
  .project-container .project-item {
    min-height: 20vh;
  }
}
footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: start;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.411);
}
footer img {
  max-width: 20rem;
  margin: auto auto;
}
footer ul:last-of-type div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0rem 0.2rem;
}
footer ul {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
}
footer ul li {
  display: flex !important;
  flex-direction: row;
  align-items: baseline;
  margin-top: 0.5rem;
  color: rgb(138, 138, 138);
}
footer ul li h2 {
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem;
}
footer ul li p {
  font-size: 1rem;
  padding-left: 0.3rem;
}