html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

a {
  color: white;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: Poppins, sans serif;
}

* {
  font-family: Poppins, sans serif;
}

p {
  font-size: 0.9rem;
  font-weight: 200;
  line-height: 1.2rem;
  margin-bottom: 0.5rem;
  font-family: "Inter", sans-serif;
}

em {
  font-weight: bold;
}

body {
  font-family: Poppins, sans serif;
  color: white;
  background: linear-gradient(135deg, #001229, #001325);
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.hidden {
  display: none;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.list {
  list-style-type: disc;
  margin-left: 1rem;
}
.list li {
  margin-bottom: 0.5rem;
}

.arrow {
  transform: translateY(0) rotate(45deg);
  width: 1.5rem;
  height: 1.5rem;
  border-bottom: solid white;
  border-right: solid white;
  animation: quickBounce 1s infinite;
  display: inline-block;
}

.arrow-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 65%;
  height: 10rem;
}

@keyframes quickBounce {
  0% {
    transform: translateY(0) rotate(45deg);
  }
  50% {
    transform: translateY(-0.5rem) rotate(45deg);
  }
  100% {
    transform: translateY(0) rotate(45deg);
  }
}
@media only screen and (max-width: 60rem) {
  .container {
    transform: translateX(0);
  }
  .timeline-body {
    width: 90%;
  }
  #project-container {
    width: 80% !important;
  }
  section {
    margin-bottom: 10rem;
  }
  #home {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-height: 50vh;
  }
  #home h1 {
    font-size: 3rem;
  }
  #home h2 {
    font-size: 0.8rem;
  }
  header {
    justify-content: center;
  }
  #skills i {
    font-size: 0.5rem;
  }
  #about-me {
    display: flex;
    flex-direction: column;
    width: 80% !important;
  }
  #about-me #person-idea {
    display: none;
  }
  #about-me div {
    width: 100%;
  }
  .vertical-line {
    display: none;
  }
  #footer-content {
    flex-direction: column;
  }
  #footer-content ul {
    padding: 1rem 0rem;
  }
  #footer-content ul li {
    display: flex !important;
    flex-direction: row;
    align-items: baseline;
    margin-top: 0.5rem;
    color: rgb(138, 138, 138);
  }
  #footer-content ul li h2 {
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  #footer-content ul li p {
    font-size: 1rem;
    padding-left: 0.3rem;
  }
  .shape {
    display: none;
  }
  .project-container {
    display: flex;
    flex-direction: column;
  }
  .project-container .project-item {
    min-height: 20vh;
  }
}
#contact {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.411);
}

#footer-content {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;
}
#footer-content .vertical-line {
  width: 0.08rem;
  height: 5rem;
  background-color: rgba(255, 255, 255, 0.432);
}
#footer-content ul:last-of-type div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0rem 0.2rem;
}
#footer-content ul {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
}
#footer-content ul li {
  display: flex !important;
  flex-direction: row;
  align-items: baseline;
  margin-top: 0.5rem;
  color: rgb(138, 138, 138);
}
#footer-content ul li h2 {
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem;
}
#footer-content ul li p {
  font-size: 1rem;
  padding-left: 0.3rem;
}/*# sourceMappingURL=footer.css.map */