a {
  color: white;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: Poppins, sans serif;
}

* {
  font-family: Poppins, sans serif;
}

p {
  font-size: 0.9rem;
  font-weight: 200;
  line-height: 1.2rem;
  margin-bottom: 0.5rem;
}

em {
  font-weight: bold;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: Poppins, sans serif;
  color: white;
  background: #09192f;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.hidden.animate-left {
  opacity: 0 !important;
  transition: all 1s !important;
  filter: blur(5px) !important;
  transform: translateX(-100%) !important;
}

.show.animate-left {
  opacity: 1 !important;
  filter: blur(0px) !important;
  transform: translateX(0%) !important;
}

.hidden.animate-right {
  opacity: 0 !important;
  transition: all 1s !important;
  filter: blur(5px) !important;
  transform: translateX(100%) !important;
}

.show.animate-right {
  opacity: 1 !important;
  filter: blur(0px) !important;
  transform: translateX(0%) !important;
}

.hidden.animate-up {
  opacity: 0 !important;
  transition: all 1s !important;
  filter: blur(5px) !important;
  transform: translateY(-100%) !important;
}

.hidden.animate-down {
  opacity: 0 !important;
  transition: all 1s !important;
  filter: blur(5px) !important;
  transform: translateY(100%) !important;
}

.hidden.animate-up {
  opacity: 0 !important;
  transition: all 1s !important;
  filter: blur(5px) !important;
  transform: translateY(-100%) !important;
}

.show.animate-up,
.show.animate-down {
  opacity: 1 !important;
  filter: blur(0px) !important;
  transform: translateY(0%) !important;
}

.hidden.fade-in {
  opacity: 0 !important;
  transition: all 1s !important;
  filter: blur(5px) !important;
}

.show.fade-in {
  opacity: 1 !important;
  filter: blur(0px) !important;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

@media only screen and (max-width: 60rem) {
  .container {
    transform: translateX(-2rem) !important;
  }
  .timeline {
    width: 92% !important;
  }
  .timeline-body {
    transform: translateX(-1rem) !important;
  }
  section {
    margin-bottom: 10rem !important;
  }
  #home {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-height: 50vh !important;
  }
  #home h1 {
    font-size: 3rem !important;
  }
  #home h2 {
    font-size: 0.8rem !important;
  }
  header {
    justify-content: center !important;
  }
  #about-me {
    display: flex !important;
    flex-direction: column !important;
  }
  #about-me #skills {
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
  }
  #about-me #person-idea {
    display: none !important;
  }
  #about-me div {
    width: 100% !important;
  }
  footer {
    margin-top: 10vh !important;
  }
  footer .vertical-line {
    width: 20rem !important;
    height: 0.05rem !important;
  }
  footer div {
    display: flex !important;
    flex-direction: column !important;
  }
  footer ul div {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
  }
  .shape {
    display: none !important;
  }
  .project-container {
    display: flex !important;
    flex-direction: column !important;
  }
  .project-container .project-item {
    min-height: 20vh;
  }
}
header {
  flex: 0 0 auto;
  margin: 2.5rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  justify-content: end;
}
header #header-logo {
  position: fixed;
  left: 1.5rem;
  top: 1.5em;
  width: 2.5rem;
}
header h2 {
  font-size: 2rem;
  margin-right: 1.5rem;
  background-position: center;
}
header h3 {
  font-size: 1rem;
  font-family: Poppins, sans serif;
  font-weight: 200;
  align-self: flex-end;
}

nav ul {
  gap: 1.5rem;
}
nav a::after {
  content: "";
  display: block;
  width: 0;
  height: 0.1rem;
  transition: width 0.3s;
  background: white;
  margin-top: 0.2rem;
}
nav a:hover::after {
  width: 100%;
}/*# sourceMappingURL=header.css.map */