html {
  scroll-behavior: smooth;
}

a {
  color: white;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: Poppins, sans serif;
}

* {
  font-family: Poppins, sans serif;
}

p {
  font-size: 0.9rem;
  font-weight: 200;
  line-height: 1.2rem;
  margin-bottom: 0.5rem;
}

em {
  font-weight: bold;
}

body {
  font-family: Poppins, sans serif;
  color: white;
  background: linear-gradient(135deg, #001229, #001325);
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.hidden {
  display: none;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.list {
  list-style-type: disc;
  margin-left: 1rem;
}
.list li {
  margin-bottom: 0.5rem;
}

.mouse {
  width: 30px;
  height: 50px;
  border: 3px solid #ffffff;
  border-radius: 60px;
  position: absolute;
  left: 50%;
  bottom: 10%;
}
.mouse:hover {
  cursor: pointer;
}
.mouse::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}
@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}
@media only screen and (max-width: 60rem) {
  .container {
    transform: translateX(0);
  }
  .timeline-body {
    width: 15rem;
  }
  #project-container {
    width: 80% !important;
  }
  section {
    margin-bottom: 10rem;
  }
  #home {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-height: 50vh;
  }
  #home h1 {
    font-size: 3rem;
  }
  #home h2 {
    font-size: 0.8rem;
  }
  header {
    justify-content: center;
  }
  #skills i {
    font-size: 0.5rem;
  }
  #about-me {
    display: flex;
    flex-direction: column;
    width: 80% !important;
  }
  #about-me #person-idea {
    display: none;
  }
  #about-me div {
    width: 100%;
  }
  .vertical-line {
    display: none;
  }
  #footer-content {
    flex-direction: column;
  }
  #footer-content ul {
    padding: 1rem 0rem;
  }
  #footer-content ul li {
    display: flex !important;
    flex-direction: row;
    align-items: baseline;
    margin-top: 0.5rem;
    color: rgb(138, 138, 138);
  }
  #footer-content ul li h2 {
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  #footer-content ul li p {
    font-size: 1rem;
    padding-left: 0.3rem;
  }
  .shape {
    display: none;
  }
  .project-container {
    display: flex;
    flex-direction: column;
  }
  .project-container .project-item {
    min-height: 20vh;
  }
}
header {
  flex: 0 0 auto;
  margin: 2.5rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  justify-content: end;
}
header #header-logo {
  position: fixed;
  left: 1.5rem;
  top: 1.5em;
  width: 2.5rem;
}
header h2 {
  font-size: 2rem;
  margin-right: 1.5rem;
  background-position: center;
}
header h3 {
  font-size: 1rem;
  font-family: Poppins, sans serif;
  font-weight: 200;
  align-self: flex-end;
}

nav ul {
  gap: 1.5rem;
}
nav a::after {
  content: "";
  display: block;
  width: 0;
  height: 0.1rem;
  transition: width 0.3s;
  background: white;
  margin-top: 0.2rem;
}
nav a:hover::after {
  width: 100%;
}/*# sourceMappingURL=header.css.map */