@charset "UTF-8";
a {
  color: white;
  text-decoration: none;
  font-family: Poppins, sans serif;
}

html {
  scroll-behavior: smooth;
}

#arrow-up {
  position: fixed;
  left: 95%;
  bottom: 3%;
  background: url("../media/arrow-up.png");
  background-size: contain;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
}

body {
  font-family: Poppins, sans serif;
  color: white;
  background: #212428;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}
body p {
  line-height: 1.2rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

main #home {
  width: 40rem;
  margin: 15rem auto 0 auto;
}
main #home h1 {
  margin-bottom: 0.5rem;
  font-size: 5rem;
}
main #home h2::before {
  content: "​";
  content: "​"/"Student applied computer sience";
  alt: "Student applied computer sience";
  white-space: break-spaces;
  will-change: content;
  animation: typed-0 13.76s linear 1s 1 forwards, typed-0-final 1.55s linear 14.76s 1 forwards;
}
@keyframes typed-0-final {
  0%, 3.2258064516% {
    content: "​S";
    content: "​S"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  3.2268064516%, 6.4516129032% {
    content: "​St";
    content: "​St"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  6.4526129032%, 9.6774193548% {
    content: "​Stu";
    content: "​Stu"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  9.6784193548%, 12.9032258065% {
    content: "​Stud";
    content: "​Stud"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  12.9042258065%, 16.1290322581% {
    content: "​Stude";
    content: "​Stude"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  16.1300322581%, 19.3548387097% {
    content: "​Studen";
    content: "​Studen"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  19.3558387097%, 22.5806451613% {
    content: "​Student";
    content: "​Student"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  22.5816451613%, 25.8064516129% {
    content: "​Student ";
    content: "​Student "/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  25.8074516129%, 29.0322580645% {
    content: "​Student a";
    content: "​Student a"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  29.0332580645%, 32.2580645161% {
    content: "​Student ap";
    content: "​Student ap"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  32.2590645161%, 35.4838709677% {
    content: "​Student app";
    content: "​Student app"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  35.4848709677%, 38.7096774194% {
    content: "​Student appl";
    content: "​Student appl"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  38.7106774194%, 41.935483871% {
    content: "​Student appli";
    content: "​Student appli"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  41.936483871%, 45.1612903226% {
    content: "​Student applie";
    content: "​Student applie"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  45.1622903226%, 48.3870967742% {
    content: "​Student applied";
    content: "​Student applied"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  48.3880967742%, 51.6129032258% {
    content: "​Student applied ";
    content: "​Student applied "/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  51.6139032258%, 54.8387096774% {
    content: "​Student applied c";
    content: "​Student applied c"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  54.8397096774%, 58.064516129% {
    content: "​Student applied co";
    content: "​Student applied co"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  58.065516129%, 61.2903225806% {
    content: "​Student applied com";
    content: "​Student applied com"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  61.2913225806%, 64.5161290323% {
    content: "​Student applied comp";
    content: "​Student applied comp"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  64.5171290323%, 67.7419354839% {
    content: "​Student applied compu";
    content: "​Student applied compu"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  67.7429354839%, 70.9677419355% {
    content: "​Student applied comput";
    content: "​Student applied comput"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  70.9687419355%, 74.1935483871% {
    content: "​Student applied compute";
    content: "​Student applied compute"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  74.1945483871%, 77.4193548387% {
    content: "​Student applied computer";
    content: "​Student applied computer"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  77.4203548387%, 80.6451612903% {
    content: "​Student applied computer ";
    content: "​Student applied computer "/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  80.6461612903%, 83.8709677419% {
    content: "​Student applied computer s";
    content: "​Student applied computer s"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  83.8719677419%, 87.0967741935% {
    content: "​Student applied computer si";
    content: "​Student applied computer si"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  87.0977741935%, 90.3225806452% {
    content: "​Student applied computer sie";
    content: "​Student applied computer sie"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  90.3235806452%, 93.5483870968% {
    content: "​Student applied computer sien";
    content: "​Student applied computer sien"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  93.5493870968%, 96.7741935484% {
    content: "​Student applied computer sienc";
    content: "​Student applied computer sienc"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  96.7751935484%, 100% {
    content: "​Student applied computer sience";
    content: "​Student applied computer sience"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
}
main #home h2::after {
  content: "​";
  position: relative;
  display: inline-block;
  padding-right: 0.1ch;
  border-right: 1ch solid currentColor;
  white-space: nowrap;
  animation: typed-0-caret 0.75s linear 1s infinite forwards;
}
@keyframes typed-0 {
  0%, 0.362372093% {
    content: "​S";
    content: "​S"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  0.363372093%, 0.725744186% {
    content: "​St";
    content: "​St"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  0.726744186%, 1.0891162791% {
    content: "​Stu";
    content: "​Stu"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  1.0901162791%, 1.4524883721% {
    content: "​Stud";
    content: "​Stud"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  1.4534883721%, 1.8158604651% {
    content: "​Stude";
    content: "​Stude"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  1.8168604651%, 2.1792325581% {
    content: "​Studen";
    content: "​Studen"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  2.1802325581%, 2.5426046512% {
    content: "​Student";
    content: "​Student"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  2.5436046512%, 2.9059767442% {
    content: "​Student ";
    content: "​Student "/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  2.9069767442%, 3.2693488372% {
    content: "​Student a";
    content: "​Student a"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  3.2703488372%, 3.6327209302% {
    content: "​Student ap";
    content: "​Student ap"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  3.6337209302%, 3.9960930233% {
    content: "​Student app";
    content: "​Student app"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  3.9970930233%, 4.3594651163% {
    content: "​Student appl";
    content: "​Student appl"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  4.3604651163%, 4.7228372093% {
    content: "​Student appli";
    content: "​Student appli"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  4.7238372093%, 5.0862093023% {
    content: "​Student applie";
    content: "​Student applie"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  5.0872093023%, 5.4495813953% {
    content: "​Student applied";
    content: "​Student applied"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  5.4505813953%, 5.8129534884% {
    content: "​Student applied ";
    content: "​Student applied "/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  5.8139534884%, 6.1763255814% {
    content: "​Student applied c";
    content: "​Student applied c"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  6.1773255814%, 6.5396976744% {
    content: "​Student applied co";
    content: "​Student applied co"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  6.5406976744%, 6.9030697674% {
    content: "​Student applied com";
    content: "​Student applied com"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  6.9040697674%, 7.2664418605% {
    content: "​Student applied comp";
    content: "​Student applied comp"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  7.2674418605%, 7.6298139535% {
    content: "​Student applied compu";
    content: "​Student applied compu"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  7.6308139535%, 7.9931860465% {
    content: "​Student applied comput";
    content: "​Student applied comput"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  7.9941860465%, 8.3565581395% {
    content: "​Student applied compute";
    content: "​Student applied compute"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  8.3575581395%, 8.7199302326% {
    content: "​Student applied computer";
    content: "​Student applied computer"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  8.7209302326%, 9.0833023256% {
    content: "​Student applied computer ";
    content: "​Student applied computer "/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  9.0843023256%, 9.4466744186% {
    content: "​Student applied computer s";
    content: "​Student applied computer s"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  9.4476744186%, 9.8100465116% {
    content: "​Student applied computer sc";
    content: "​Student applied computer sc"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  9.8110465116%, 10.1734186047% {
    content: "​Student applied computer sci";
    content: "​Student applied computer sci"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  10.1744186047%, 10.5367906977% {
    content: "​Student applied computer scie";
    content: "​Student applied computer scie"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  10.5377906977%, 10.9001627907% {
    content: "​Student applied computer scien";
    content: "​Student applied computer scien"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  10.9011627907%, 11.2635348837% {
    content: "​Student applied computer scienc";
    content: "​Student applied computer scienc"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  11.2645348837%, 26.3071395349% {
    content: "​Student applied computer science";
    content: "​Student applied computer science"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  26.3081395349%, 26.4524883721% {
    content: "​Student applied computer scienc";
    content: "​Student applied computer scienc"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  26.4534883721%, 26.5978372093% {
    content: "​Student applied computer scien";
    content: "​Student applied computer scien"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  26.5988372093%, 26.7431860465% {
    content: "​Student applied computer scie";
    content: "​Student applied computer scie"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  26.7441860465%, 26.8885348837% {
    content: "​Student applied computer sci";
    content: "​Student applied computer sci"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  26.8895348837%, 27.0338837209% {
    content: "​Student applied computer sc";
    content: "​Student applied computer sc"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  27.0348837209%, 27.1792325581% {
    content: "​Student applied computer s";
    content: "​Student applied computer s"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  27.1802325581%, 27.3245813953% {
    content: "​Student applied computer ";
    content: "​Student applied computer "/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  27.3255813953%, 27.4699302326% {
    content: "​Student applied computer";
    content: "​Student applied computer"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  27.4709302326%, 27.6152790698% {
    content: "​Student applied compute";
    content: "​Student applied compute"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  27.6162790698%, 27.760627907% {
    content: "​Student applied comput";
    content: "​Student applied comput"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  27.761627907%, 27.9059767442% {
    content: "​Student applied compu";
    content: "​Student applied compu"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  27.9069767442%, 28.0513255814% {
    content: "​Student applied comp";
    content: "​Student applied comp"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  28.0523255814%, 28.1966744186% {
    content: "​Student applied com";
    content: "​Student applied com"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  28.1976744186%, 28.3420232558% {
    content: "​Student applied co";
    content: "​Student applied co"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  28.3430232558%, 28.487372093% {
    content: "​Student applied c";
    content: "​Student applied c"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  28.488372093%, 28.6327209302% {
    content: "​Student applied ";
    content: "​Student applied "/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  28.6337209302%, 28.7780697674% {
    content: "​Student applied";
    content: "​Student applied"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  28.7790697674%, 28.9234186047% {
    content: "​Student applie";
    content: "​Student applie"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  28.9244186047%, 29.0687674419% {
    content: "​Student appli";
    content: "​Student appli"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  29.0697674419%, 29.2141162791% {
    content: "​Student appl";
    content: "​Student appl"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  29.2151162791%, 29.3594651163% {
    content: "​Student app";
    content: "​Student app"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  29.3604651163%, 29.5048139535% {
    content: "​Student ap";
    content: "​Student ap"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  29.5058139535%, 29.6501627907% {
    content: "​Student a";
    content: "​Student a"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  29.6511627907%, 29.7955116279% {
    content: "​Student ";
    content: "​Student "/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  29.7965116279%, 29.9408604651% {
    content: "​Student";
    content: "​Student"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  29.9418604651%, 30.0862093023% {
    content: "​Studen";
    content: "​Studen"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  30.0872093023%, 30.2315581395% {
    content: "​Stude";
    content: "​Stude"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  30.2325581395%, 30.3769069767% {
    content: "​Stud";
    content: "​Stud"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  30.3779069767%, 30.522255814% {
    content: "​Stu";
    content: "​Stu"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  30.523255814%, 30.6676046512% {
    content: "​St";
    content: "​St"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  30.6686046512%, 30.8129534884% {
    content: "​S";
    content: "​S"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  30.8139534884%, 38.0803953488% {
    content: "​";
    content: "​"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  38.0813953488%, 38.4437674419% {
    content: "​V";
    content: "​V"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  38.4447674419%, 38.8071395349% {
    content: "​Vi";
    content: "​Vi"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  38.8081395349%, 39.1705116279% {
    content: "​Vid";
    content: "​Vid"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  39.1715116279%, 39.5338837209% {
    content: "​Vide";
    content: "​Vide"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  39.5348837209%, 39.897255814% {
    content: "​Video";
    content: "​Video"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  39.898255814%, 40.260627907% {
    content: "​Video ";
    content: "​Video "/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  40.261627907%, 40.624% {
    content: "​Video e";
    content: "​Video e"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  40.625%, 40.987372093% {
    content: "​Video ed";
    content: "​Video ed"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  40.988372093%, 41.350744186% {
    content: "​Video edi";
    content: "​Video edi"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  41.351744186%, 41.7141162791% {
    content: "​Video edit";
    content: "​Video edit"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  41.7151162791%, 42.0774883721% {
    content: "​Video edito";
    content: "​Video edito"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  42.0784883721%, 42.4408604651% {
    content: "​Video editor";
    content: "​Video editor"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  42.4418604651%, 42.8042325581% {
    content: "​Video editor ";
    content: "​Video editor "/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  42.8052325581%, 43.1676046512% {
    content: "​Video editor &";
    content: "​Video editor &"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  43.1686046512%, 43.5309767442% {
    content: "​Video editor & ";
    content: "​Video editor & "/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  43.5319767442%, 43.8943488372% {
    content: "​Video editor & L";
    content: "​Video editor & L"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  43.8953488372%, 44.2577209302% {
    content: "​Video editor & Lo";
    content: "​Video editor & Lo"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  44.2587209302%, 44.6210930233% {
    content: "​Video editor & Log";
    content: "​Video editor & Log"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  44.6220930233%, 44.9844651163% {
    content: "​Video editor & Logo";
    content: "​Video editor & Logo"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  44.9854651163%, 45.3478372093% {
    content: "​Video editor & Logo ";
    content: "​Video editor & Logo "/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  45.3488372093%, 45.7112093023% {
    content: "​Video editor & Logo d";
    content: "​Video editor & Logo d"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  45.7122093023%, 46.0745813953% {
    content: "​Video editor & Logo de";
    content: "​Video editor & Logo de"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  46.0755813953%, 46.4379534884% {
    content: "​Video editor & Logo des";
    content: "​Video editor & Logo des"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  46.4389534884%, 46.8013255814% {
    content: "​Video editor & Logo desi";
    content: "​Video editor & Logo desi"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  46.8023255814%, 47.1646976744% {
    content: "​Video editor & Logo desig";
    content: "​Video editor & Logo desig"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  47.1656976744%, 47.5280697674% {
    content: "​Video editor & Logo design";
    content: "​Video editor & Logo design"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  47.5290697674%, 47.8914418605% {
    content: "​Video editor & Logo designe";
    content: "​Video editor & Logo designe"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  47.8924418605%, 62.9350465116% {
    content: "​Video editor & Logo designer";
    content: "​Video editor & Logo designer"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  62.9360465116%, 63.0803953488% {
    content: "​Video editor & Logo designe";
    content: "​Video editor & Logo designe"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  63.0813953488%, 63.225744186% {
    content: "​Video editor & Logo design";
    content: "​Video editor & Logo design"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  63.226744186%, 63.3710930233% {
    content: "​Video editor & Logo desig";
    content: "​Video editor & Logo desig"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  63.3720930233%, 63.5164418605% {
    content: "​Video editor & Logo desi";
    content: "​Video editor & Logo desi"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  63.5174418605%, 63.6617906977% {
    content: "​Video editor & Logo des";
    content: "​Video editor & Logo des"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  63.6627906977%, 63.8071395349% {
    content: "​Video editor & Logo de";
    content: "​Video editor & Logo de"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  63.8081395349%, 63.9524883721% {
    content: "​Video editor & Logo d";
    content: "​Video editor & Logo d"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  63.9534883721%, 64.0978372093% {
    content: "​Video editor & Logo ";
    content: "​Video editor & Logo "/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  64.0988372093%, 64.2431860465% {
    content: "​Video editor & Logo";
    content: "​Video editor & Logo"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  64.2441860465%, 64.3885348837% {
    content: "​Video editor & Log";
    content: "​Video editor & Log"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  64.3895348837%, 64.5338837209% {
    content: "​Video editor & Lo";
    content: "​Video editor & Lo"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  64.5348837209%, 64.6792325581% {
    content: "​Video editor & L";
    content: "​Video editor & L"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  64.6802325581%, 64.8245813953% {
    content: "​Video editor & ";
    content: "​Video editor & "/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  64.8255813953%, 64.9699302326% {
    content: "​Video editor &";
    content: "​Video editor &"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  64.9709302326%, 65.1152790698% {
    content: "​Video editor ";
    content: "​Video editor "/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  65.1162790698%, 65.260627907% {
    content: "​Video editor";
    content: "​Video editor"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  65.261627907%, 65.4059767442% {
    content: "​Video edito";
    content: "​Video edito"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  65.4069767442%, 65.5513255814% {
    content: "​Video edit";
    content: "​Video edit"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  65.5523255814%, 65.6966744186% {
    content: "​Video edi";
    content: "​Video edi"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  65.6976744186%, 65.8420232558% {
    content: "​Video ed";
    content: "​Video ed"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  65.8430232558%, 65.987372093% {
    content: "​Video e";
    content: "​Video e"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  65.988372093%, 66.1327209302% {
    content: "​Video ";
    content: "​Video "/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  66.1337209302%, 66.2780697674% {
    content: "​Video";
    content: "​Video"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  66.2790697674%, 66.4234186047% {
    content: "​Vide";
    content: "​Vide"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  66.4244186047%, 66.5687674419% {
    content: "​Vid";
    content: "​Vid"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  66.5697674419%, 66.7141162791% {
    content: "​Vi";
    content: "​Vi"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  66.7151162791%, 66.8594651163% {
    content: "​V";
    content: "​V"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  66.8604651163%, 74.1269069767% {
    content: "​";
    content: "​"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  74.1279069767%, 74.4902790698% {
    content: "​M";
    content: "​M"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  74.4912790698%, 74.8536511628% {
    content: "​Mu";
    content: "​Mu"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  74.8546511628%, 75.2170232558% {
    content: "​Mus";
    content: "​Mus"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  75.2180232558%, 75.5803953488% {
    content: "​Musi";
    content: "​Musi"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  75.5813953488%, 75.9437674419% {
    content: "​Music";
    content: "​Music"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  75.9447674419%, 76.3071395349% {
    content: "​Musici";
    content: "​Musici"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  76.3081395349%, 76.6705116279% {
    content: "​Musicia";
    content: "​Musicia"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  76.6715116279%, 91.7141162791% {
    content: "​Musician";
    content: "​Musician"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  91.7151162791%, 91.8594651163% {
    content: "​Musicia";
    content: "​Musicia"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  91.8604651163%, 92.0048139535% {
    content: "​Musici";
    content: "​Musici"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  92.0058139535%, 92.1501627907% {
    content: "​Music";
    content: "​Music"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  92.1511627907%, 92.2955116279% {
    content: "​Musi";
    content: "​Musi"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  92.2965116279%, 92.4408604651% {
    content: "​Mus";
    content: "​Mus"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  92.4418604651%, 92.5862093023% {
    content: "​Mu";
    content: "​Mu"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  92.5872093023%, 92.7315581395% {
    content: "​M";
    content: "​M"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
  92.7325581395%, 100% {
    content: "​";
    content: "​"/"Student applied computer sience";
    alt: "Student applied computer sience";
  }
}
@keyframes typed-0-caret {
  75% {
    border-color: transparent;
  }
}
main #home button {
  background: transparent;
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-family: Poppins, sans serif;
  margin-top: 2rem;
  border: white solid 0.1rem;
  box-shadow: inset 0 0 0 0 white;
  transition: ease-in 0.4s;
}
main #home button:hover {
  box-shadow: inset 400px 0 0 0 white;
  cursor: pointer;
  color: black;
}
main #projects {
  width: 50%;
  margin: 0 auto 0 auto;
  margin-top: 30rem;
}
main #projects h2 {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 3rem;
}
main #projects h2::before {
  content: "";
  padding: 0.5rem;
  background: #4dc0ce;
  height: 50%;
  display: inline-block;
  margin-right: 0.5rem;
  vertical-align: middle;
  transform: translateX(-1rem);
}
main #projects article {
  margin-bottom: 5rem;
  background: #323232;
  max-height: 25rem;
  display: flex;
  flex-direction: row;
}
main #projects article::before {
  content: "";
  background: gray;
  padding: 2rem 0.2rem;
  position: absolute;
  display: inline-block;
  transform: translateY(2rem);
}
main #projects article section {
  flex-direction: column;
  display: flex;
  width: 60%;
  margin: 2rem;
}
main #projects article section h1 {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
}
main #projects article section h3 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
main #projects article section p {
  font-size: 0.8rem;
  font-weight: 200;
  line-height: 1.2rem;
  margin-bottom: 0.5rem;
}
main #projects article .project-image {
  width: 40%;
  background: url("../../images/monopoly.jpg");
}
main #projects article aside {
  font-size: 0.8rem;
}
main #projects article aside .front-end::before {
  content: "🖥️";
}
main #projects article aside .back-end::before {
  content: "⚙️";
}
main #projects article aside a {
  display: inline-block;
  margin-bottom: 0.5rem;
  text-decoration: underline;
}
main #projects article aside h3 {
  font-size: 0.9rem;
  margin-top: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

header {
  flex: 1 0 auto;
  width: 80%;
  margin: 3rem auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header h2 {
  font-size: 2rem;
  margin-right: 1.5rem;
  background-position: center;
}
header h2::before {
  content: "";
  padding: 0.5rem;
  background: gray;
  height: 50%;
  display: inline-block;
  margin-right: 0.5rem;
  vertical-align: middle;
}
header h3 {
  font-size: 1rem;
  font-family: Poppins, sans serif;
  font-weight: 200;
  align-self: flex-end;
}

nav ul {
  gap: 1.5rem;
}
nav a::after {
  content: "";
  display: block;
  width: 0;
  height: 0.1rem;
  transition: width 0.3s;
  background: white;
  margin-top: 0.2rem;
}
nav a:hover::after {
  width: 100%;
}

/*# sourceMappingURL=header.css.map */
