@media screen and (max-width: 60rem) {
  #about-me {
    display: flex !important;
    flex-direction: column !important;
  }
  #about-me img {
    display: none !important;
  }
  #about-me div {
    width: 100% !important;
  }
  footer {
    margin-top: 0 !important;
  }
  footer img {
    display: none !important;
  }
  div {
    display: flex !important;
    flex-direction: column !important;
  }
  .shape {
    display: none !important;
  }
  .project-container {
    display: flex !important;
    flex-direction: column !important;
    height: 150vh !important;
  }
  .project-container .project-item {
    min-height: 20vh;
  }
}